<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
    <a routerLink="/plans" class="navbar-brand">sewList</a>
    <button
      class="navbar-toggler hidden-lg hidden-md hidden-sm"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>

    <button *ngIf="isLoggedin" class="navbar-nav" type="button" (click)="logout()">
        <span class="glyphicon glyphicon-log-out"></span>
    </button>
</div>


<div class="collapse navbar-collapse" 
    id="navbarSupportedContent" 
    mdbCollapse
    #basicNavbar="mdbCollapse">
    <ul class="nav navbar-nav">
        <li role="presentation" class="dropdown" appDropdown  *ngIf="isLoggedin && flistOK">
            <a style="cursor:pointer" class="dropdown-toggle" role="button" 
            >Fabrics<span class="caret"></span></a>
            <ul class="dropdown-menu nav navbar-nav"  >
                <li role="presentation" >
                    <a  routerLink="/fabrics" routerLinkActive="active">
                        Let's see my storage!</a>
                </li>
                <li role="presentation" routerLinkActive="active">
                    <a routerLink="/fabrics/newfabric">I've got  a new fabric!</a>
                </li>
            </ul>
        <li>
        <li role="presentation" routerLinkActive="active"  *ngIf="isLoggedin && flistOK">
            <a routerLink="/plans">Plans</a>
        </li>
        <li role="presentation" routerLinkActive="active" *ngIf="!isLoggedin && flistOK">
            <a routerLink="/signin">Sign in</a>
        </li>
        <li role="presentation" *ngIf="isLoggedin && flistOK">
            <a style="cursor:pointer" (click)="onCreateNew()" >Create a new project</a>
        </li>
    </ul>
</div>
</div>
</nav>


