.colorimage {
    width: 120px;
    height: 120px;
    border: 2px solid rgb(105, 102, 102);
    border-radius: 8px;
    background-size: 120px;
    display: inline-block; 
    padding: 5px;
    margin: 5px;
}

.infobox {
    margin:auto;
    margin-top: 40px;
    margin-bottom:5px;
    width: 100px;
    height: auto;
    border: 2px solid rgb(105, 102, 102);
    border-radius: 8px;
    background-color: white;
    text-align: center;
    
}